body, h1{
    align-items: center;
    display: flex;
    flex-direction: column;
}


thead tr {
    background-color: #e99a59;
    color: #fff;
    font-size: x-large;
}

tbody tr {
    background-color: #fbfbfb;
    color: #000;
    text-align: center;
}
